<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BigchainDB</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<script>
    
// async function readSubmit(){
//   var col =["age", "sex", "bmi", "children", "smoker", "region", "charges"]; // excell
//   var formid =["age", "sex", "bmi", "children", "smoker", "region", "charge"]; //form
//   var myJSON = <%-JSON.stringify(dataset)%>;
//   var myArray = JSON.parse(myJSON);
//   var n ;
//   for (var i = 0; i < myArray.length; i++) {
//     for(var j = 0; j < 7; j++){
//       n = col[j];
//       document.getElementById(formid[j]).value = myArray[i][n];
//       //alert(myArray[i][n]);
//           }
//           await new Promise(done => setTimeout(done, 1000)); //Sleep 5 seconds
//           document.getElementById("form_id").submit();
//       }
// }

function readSubmit(){
  var col =["age", "sex", "bmi", "children", "smoker", "region", "charges"]; // excell
  var formid =["age", "sex", "bmi", "children", "smoker", "region", "charge"]; //form
  var myJSON = <%-JSON.stringify(dataset)%>;
  var myArray = JSON.parse(myJSON);
  var n ;
  for (var i = 0; i < myArray.length; i++) {
    for(var j = 0; j < 7; j++){
      n = col[j];
      document.getElementById(formid[j]).value = myArray[i][n];
      //alert(myArray[i][n]);
          }
        //   await new Promise(done => setTimeout(done, 1000)); //Sleep 5 seconds
          document.getElementById("form_id").submit();
      }
}


</script>

<body id="home">

    <h2>BichainDB Javascript Driver GUI : Server 1</h2>

    <form action="/biodata" method="post"  id="form_id">
    <table>
        <tr>
            <th>Categories</th>
            <th>Input</th>
        </tr>
        <tr>
            <td>Age :</td>
            <td>
                <input type="text" id="age" name="age" value="">
            </td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td>
                <input type="text" id="sex" name="sex" value="">
            </td>

        </tr>
        <tr>
            <td>Bmi</td>
            <td>
                <input type="text" id="bmi" name="bmi" value="">
            </td>

        </tr>
        <tr>
            <td>Children:</td>
            <td>
                <input type="text" id="children" name="children" value="">
            </td>

        </tr>
        <tr>
            <td>Smoker:</td>
            <td>
                <input type="text" id="smoker" name="smoker" value="">
            </td>

        </tr>
        <tr>
            <td>Region:</td>
            <td>
                <input type="text" id="region" name="region" value="">
            </td>

        </tr>
        <tr>
            <td>Charges:</td>
            <td>
                <input type="text" id="charge" name="charge" value="">
            </td>

        </tr>

    </table>
    <input type="submit" value="Submit">
  </form>
  <button onclick="readSubmit()">Extract and Submit</button>

</body>

</html>
